# choose st-link/j-link/dap-link etc.
source [find interface/stlink.cfg]
transport select swd
source [find target/stm32h7x.cfg]

# download speed = 4MHz. Increase only if the link is stable.
adapter speed 4000
